.toster The product has been added to the cart 
.basket
    .basket-header 
        button.basket-header-close 
        .basket-header-title shopping cart
    .basket-box
        .empty-text Our product cart is empty
    .basket-footer 
        .basket-footer-top      
            .total-price 100$
            .text-hint Products can be scrolled down
        button.basket-footer-btn.reset-basket Clear All 
        button.basket-footer-btn.buy-basket Order Now 
                    