.hungry 
    .hungry-content 
        h1 Are you <span>hungry ?</span>
        .hungry-content-subtitle You can order here very easy and simple
        button Order now
    .hungry-img
        img(src="img/curveOne.svg" alt="curve img")
            