.footer 
    img.bg-image(src="img/footerImg.svg" alt="footer background")
    .footer-top 
        .footer-top-title 
            img(src="img/logo.svg" alt="logo image")
            .text Anywhere, anytime, enjoy your shopping time 
        .footer-top-links 
            .footer-links 
                button.footer-links-title
                    .text Information
                    img(src="img/arrow.svg" alt="arrow image")
                .footer-links-box 
                    a(href="#" target="_blank") About Us
                    a(href="#" target="_blank") Event
                    a(href="#" target="_blank") More search
            .footer-links 
                button.footer-links-title
                    .text Helpful Links
                    img(src="img/arrow.svg" alt="arrow image")
                .footer-links-box 
                    a(href="#" target="_blank") Services 
                    a(href="#" target="_blank") Support 
                    a(href="#" target="_blank") Team & Condition
                    a(href="#" target="_blank") Privacy 
            .footer-links 
                button.footer-links-title
                    .text Our Menu 
                    img(src="img/arrow.svg" alt="arrow image")
                .footer-links-box 
                    a(href="#" target="_blank") Driver
                    a(href="#" target="_blank") Catalog 
                    a(href="#" target="_blank") Launch
    .footer-bottom 
        .footer-bottom-links 
            a(href="#" target="_blank") FAQ 
            a(href="#" target="_blank") Contact Us 
            a(href="#" target="_blank") Legal 
        .footer-bottom-text All Right Reserved Fast Food Creative 2020