header.header   
    .wrapper 
        .logo 
            img(src="img/logo.png" alt="logo image")
        .wrapper-nav
            button.close 
            ul.header-nav 
                li.header-nav-link 
                    a(href="#" target="blank") Home 
                li.header-nav-link 
                    a(href="#" target="blank") Food
                li.header-nav-link 
                    a(href="#" target="blank") Services
                li.header-nav-link 
                    a(href="#" target="blank") About Us
                li.header-nav-link 
                    a(href="#" target="blank") Contact Us 
            .header-nav-wrap 
                button.basket-header-btn
                    img(src="img/basket.svg" alt="basket image")
                    .basket-header-btn-thumb 0
                button.sign Sign In 
        .mobile-nav 
            button.basket-header-btn
                img(src="img/basket.svg" alt="basket image")
                .basket-header-btn-thumb 0
            button.burger-menu 
                .burger-menu-line
    